body {
    font-family: 'Open Sans', sans-serif;
    background-color: #323232;
    margin: 0;
    color: white;
}

h1 {
    display: flex;
    justify-content: center;
    color: white;
    height: 32px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh-40px);
}

table {
    border-collapse: collapse;
  }

  table td {
    border: 5px solid white; 
  }
  table tr:first-child td {
    border-top: 0;
  }
  table tr td:first-child {
    border-left: 0;
  }
  table tr:last-child td {
    border-bottom: 0;
  }
  table tr td:last-child {
    border-right: 0;
  }

  
  td {
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  td:hover {
    background-color: darkblue;
  }